@import 'mixins';

// Variables
$primary-font: 'Josefin Sans',
sans-serif;
$secondary-font: 'Droid Serif',
serif;
$primary-color: #d6a74d;
$icon-font: 'themefisher-font' !important;

/*--
    Common Css
--*/
body {
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
  color: #142c52;
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
}

.col-gold {
  color: $primary-color;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin: 0px;
}

h1,
.h1 {
  font-size: 44px;
  line-height: 56px;
}

h2,
.h2 {
  font-size: 30px;
  line-height: 35px;
}

h3,
.h3 {
  font-size: 23px;
  line-height: 25px;
}

h4,
.h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

p {
  font-size: 18px;
  line-height: 25px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.mt-100 {
  margin-top: 100px;
}

.bg-1 {
  background-image: url(../images/call-to-action.jpg);
}

.bg-orange {
  background: $primary-color;
}

.bg-fa {
  background: #fafafa;
}

.bg-opacity {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
  }
}

a:focus,
.btn:focus,
.btn:active:focus {
  box-shadow: none;
  outline: 0 none;
}

a,
a:active,
a:focus,
a:active {
  text-decoration: none;
}

.section {
  padding: 25px 0;
}

.font-size-60 {
  font-size: 60px;
  line-height: 1.2;

  @include mobile {
    font-size: 40px;
  }
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-40 {
  margin-bottom: 40px;
}

.slick-slide {
  outline: 0
}

/*--
    custom heading
--*/
.text-center {
  text-align: center;
}

.heading {
  text-align: center;
  color: #777777;
  padding-bottom: 70px;

  h2 {
    color: #142c52;
    padding-bottom: 15px;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
  }

  p {
    font-size: 17px;
    line-height: 24px;
    font-weight: 300;
  }
}

.subheading {
  color: #3c3c3c;
  padding-bottom: 15px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 32px;
  line-height: 45px;
}

.btn {
  border-radius: 0;
  text-decoration: none !important;
}

.btn-main {
  color: #fff;
  border-radius: 30px;
  font-size: 18px;
  padding: 15px 40px;
  display: inline-block;
  background-color: $primary-color;
  box-shadow: 0 15px 40px rgba(249, 167, 68, 0.5);
  background-image: linear-gradient(bottom, rgba(255, 239, 206, 0) 0%, rgba(255, 239, 206, 0.25) 100%);

  &:hover,
  &:focus {
    background-color: $primary-color;
    color: #fff;
  }
}

.btn-main-sm {
  padding: 12px 35px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

/* navigation */
header.sticky-top {
  z-index: 999;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;

  @include mobile {
    padding: 10px 0;
  }


}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  position: relative;

  &-brand {
    color: #444;
    font-size: 25px;
    margin: 0;
    line-height: 1;
    font-weight: 700;

    @media (max-width: 900px) {
      width: 170px;
      padding: 0.45rem 0.9rem;
    }

    @media (max-width: 767.98px) {
      width: 160px;
      padding: 0.4rem 0.8rem;
    }
  }

  &-btn-schedule {
    flex-shrink: 0;
    margin-left: auto;
    font-size: 20px;
    line-height: 1;
    font-weight: 600;

    a {
      font-size: 16px;
      padding: 0.5rem 1rem;

      @media (max-width: 991.98px) {
        font-size: 13px;
        padding: 0.4rem 0.8rem;
      }

      @media (max-width: 767.98px) {
        font-size: 11px;
        padding: 0.3rem 0.7rem;
      }
    }

  }

  &-toggler {
    border: none;
    padding: 0.5rem 0.75rem;
    font-size: 1.5rem;
    line-height: 1;
    background: transparent;
    color: $primary-color;
    margin-left: auto;
    order: 2;

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &-icon {
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      vertical-align: middle;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(214, 167, 77, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      transition: all 0.3s ease;
    }

    &[aria-expanded="true"] {
      .navbar-toggler-icon {
        transform: rotate(90deg);
      }
    }
  }

  &-collapse {
    transition: all 0.3s ease-out;

    @include mobile {
      background: white;
      padding: 20px;
      margin-top: 15px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      order: 3;
    }
  }
}

.nav-link {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px !important;
  color: #142c52 !important;
  position: relative;

  &:hover {
    color: $primary-color !important;
  }

  @include mobile {
    padding: 12px 0 !important;
    text-align: center;
    display: block;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: #444;
}

.navbar-toggler {
  display: block !important;
  border: none !important;
  padding: 0.5rem !important;
  font-size: 1.5rem !important;
  line-height: 1 !important;
  background: transparent !important;
  color: $primary-color !important;
  margin-left: auto !important;
  order: 2 !important;

  &-icon {
    display: inline-block !important;
    width: 1.5em !important;
    height: 1.5em !important;
    background-image: url("data:image/svg+xml,%3csvg...") !important;
    background-repeat: no-repeat !important;
  }
}

.lang-list {
  border: 0;
  margin: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}


/* cart */
.cart {
  background: transparent;
  border: 0;
  position: relative;
  i{
    font-size: 20px;
  }

  @include desktop {
    position: absolute;
    top: 23px;
    right: 90px;
  }

  .badge {
    position: absolute;
    top: -5px;
    border-radius: 50%;
    right: -10px;

  }
  &:focus{
    outline: 0;
  }
}

.badge-primary{
  background-color: $primary-color;
}

/*--
    Feature-list start
--*/
.feature-list {
  .btn-main {
    margin-top: 15px;
  }
}

/*--
  Gallery start
--*/
.gallery {
  padding-bottom: 100px;

  .owl-item {
    overflow: hidden;
    position: relative;
  }

  .block {
    padding: 20px;
    position: relative;

    &:hover .gallery-overlay {
      transform: scale(1);
      opacity: 1;
      border-radius: 0;
    }
  }

  .gallery-overlay {
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    top: 15px;
    background: rgba(255, 255, 255, 0.85);
    text-decoration: none;
    color: inherit;
    -webkit-transform: scale(.7);
    transform: scale(.7);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    z-index: 2;
    opacity: 0;
    border-radius: 50%;

    .gallery-popup {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background: $primary-color;
      padding: 5px 10px;
      border-radius: 40px;
      width: 50px;
      height: 50px;

      i {
        color: #fff;
        font-size: 30px;
        line-height: 40px;
        display: inline-block;
      }
    }
  }
}

/*--
    service start
--*/
.testimonials {
  .testimonial-block {
    padding: 0 10px;

    i {
      font-size: 40px;
      display: inline-block;
      margin-bottom: 20px;
      color: $primary-color;
    }

    p {
      font-family: $secondary-font;
      font-size: 14px;
      color: #777;
    }

    .author-details {
      margin-top: 30px;

      img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        object-fit: cover;
      }

      h4 {
        font-weight: 700;
        font-size: 20px;
        margin-top: 10px;
      }
    }
  }
}

/*--
    call-to-action start
--*/
.call-to-action {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.input-group {
  margin-top: 30px;
  position: relative;

  .btn-submit {
    padding: 10.5px 40px !important;
    position: absolute;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    top: 0;
    right: 0;
  }

  input {
    height: 50px;
    border-radius: 40px;
    border: none;
    padding-left: 15px;
    box-shadow: none;
    display: table-cell;
  }
}

.footer-menu {
  a {
    font-size: 14;
    font-weight: 700;
    color: #444;
    padding: 10px;
  }
}

footer {
  text-align: center;
  background: #f4f4f4;
  padding: 50px 0px;

  .footer-logo {
    color: #555;
    display: block;
  }

  p.copyright-text {
    font-weight: 300;
    font-size: 12px;
    color: #888;
    letter-spacing: 3px;
    margin-top: 15px;

    a {
      color: #282828;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

p.price {
  font-size: 30px;
  font-family: $secondary-font;
}

s.price {
  color: red;
  font-size: 25px;
  font-family: $secondary-font;
}

.product-info {
  text-align: center;

  .price {
    font-size: 100%;
  }
}

// contact list
.contact-list {

  li,
  a {
    color: #282828;
    font-size: 18px;
  }
}

.form-control {
  border: 1px solid #dadada;
  border-radius: 35px;
  height: 50px;

  &:focus {
    border-color: $primary-color;
    box-shadow: none;
  }

  &::placeholder {
    font-size: 80%;
  }
}

textarea.form-control {
  height: 150px;
  padding-top: 15px;
}

.sticky-image {
  position: sticky;
  top: 100px;
  z-index: 1;
}

.product-image-slider {
  position: sticky;
  top: 80px;
  .slick-list {
    margin-bottom: 10px;
    border-radius: 5px;
  }

}

.slider-wrapper {
  position: relative;

  .slick-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex !important;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      margin: 0 4px;

      button {
        border: none;
        background: transparent;
        padding: 0;
        margin: 0;
        font-size: 0;

        &:before {
          content: '';
          display: inline-block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: #ccc;
        }
      }

      &.slick-active button:before {
        background-color: #000;
      }
    }
  }
}

.content {
  * {
    margin-bottom: 20px;
  }

  a {
    text-decoration: underline;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 10px;
  }

  ol,ul {
    padding-left: 10px;
  }

  table {
    text-align: left;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #dee2e6;

    th,
    td {
      padding: .75rem;
      vertical-align: top;
      border: 1px solid #dee2e6
    }

    thead {
      background: darken($color: #dadada, $amount: 2);
    }

    tbody {
      background: #dadada;

      td {
        text-align: left !important;
      }
    }
  }


  blockquote {
    border-left: 1px solid $primary-color;
    padding: 20px;

    p {
      margin-bottom: 0;
      font-style: italic;
      font-size: 22px;
      font-weight: 500;
    }
  }

  pre {
    padding: 10px 20px;
    background: #dadada;
  }
}

.link-title{
  color: inherit;
  text-decoration: none !important;
  &:hover{
    color: $primary-color;
  }
}

/* side-menu */
.side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1050;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: width 0.3s ease;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.side-menu ul {
  list-style: none;
  padding: 0;
}

.side-menu ul li {
  padding: 15px 0;
}

.side-menu ul li a {
  color: #000;
  font-size: 18px;
  text-decoration: none;
}

.side-menu .close-btn {
  font-size: 32px;
  background: none;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: rgba(0,0,0,0.5);
  z-index: 1040;
  transition: width 0.3s ease;
}

body.menu-open {
  overflow: hidden;
}

.btn-black-text {
  color: #000 !important;

  &:hover {
    color: #000 !important;
  }
}

.text-border {
  border: 1px solid #d6a74d;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 0;
}

.semi-bold {
  font-weight: 600;
}

.section-banner-wrapper {
  position: relative;
  width: 100vw;  // Gunakan viewport width, bukan 100% (yang bisa terpengaruh parent)
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-banner {
  width: 100%;
  height: auto;
  max-height: 100vh;
  object-fit: contain;
  display: block;
}

.psychologist-card {
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 8px;

  > div {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .icon-category {
    .icon-img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .category-text {
      text-align: center;
    }
  }

  // Mobile:
  @media (max-width: 767px) {

    flex-direction: column;
    .icon-category      { order: 1; }
    .image              { order: 2; }
    .name-title         { order: 3; }
    .experience         { order: 4; }
    .sipp               { order: 5; }
    .specializations    { order: 6; }
    .button             { order: 7; }
  }

  // Tablet/Desktop:
  @media (min-width: 768px) {
    .icon-category .text-md-left {
      text-align: left !important; // Override Bootstrap's text-center
    }
    .specializations h4 {
      text-align: left !important;
    }

    flex-direction: column;

    .icon-category      {
      order: 1;
      .icon-img {
        margin-left: 0;
        margin-right: 0;
      }
      .category-text {
        text-align: left;
      }
    }

    .image              { order: 2; }
    .name-title         { order: 3; }
    .experience         { order: 4; }
    .sipp               { order: 5; }
    .specializations    { order: 6; }
    .button             { order: 7; }
  }
}

// Ensure the entire card is centered within the slider for all screen sizes.
.psychologist-slider .block {
  display: flex;
  justify-content: center;
  padding: 20px 15px;
}