{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.homepage.banner.enable }}
{{- with $data.homepage.banner }}
<!-- hero area -->
<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center mb-5 mb-md-0">
				{{ partial "image.html" (dict "Src" .image "Alt" "image" "Class" "img-fluid w-100 h-100" "Style" "object-fit: cover;" ) }}
			</div>
		</div><!-- .row close -->
	</div><!-- .container close -->
</section><!-- header close -->
{{- end }}
{{- end }}