{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.homepage.features.enable }}
{{- with $data.homepage.features }}
<section class="section" id="features">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 text-center">
        {{ partial "image.html" (dict "Src" .image "Alt" "Introduction Image" "Class" "img-fluid rounded" ) }}
      </div>
      <div class="col-md-6 text-md-left">
        <h4 class="font-weight-bold text-uppercase">{{ .header | markdownify }}</h4>
        <h2 class="font-weight-bold">{{ .title1 | markdownify }}<br>{{ .title2 | markdownify }} <span class="col-gold">{{ .title3 | markdownify }}</span></h2>
        <p class="lead">{{ .content1 | markdownify }}</p>
        <p>{{ .content2 | markdownify }}</p>
        <p class="font-italic font-weight-bold">{{ .tagline | markdownify}}</p>

      </div>
    </div>
    <div class="row align-items-center">
        <div class="col-md-12 align-items-center text-center">
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{.link|absLangURL}}" class="btn btn-main">{{.label}}</a>
          {{ end }}
          {{ end }}
        </div>
  </div><!-- .container close -->
</section>
{{- end }}
{{- end }}