{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.promo.enable }}
{{ with $data.homepage.promo }}
<section class="section bg-fa" id="core">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading">
          <h2>{{ .title | markdownify }}</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 align-self-center text-center text-md-left">
        {{ range .items }}
          <div class="mb-40 text-center text-md-left">
              <img src="{{ .icon }}" alt="icon" class="d-inline-block h2 mb-10" style="max-width: 40px;">
              <h4 class="font-weight-bold mb-2">{{ .title | markdownify }}</h4>
              <p>{{ .content | markdownify }}</p>
          </div>
        {{ end }}
      </div>
      <div class="col-md-6 text-center mb-5 mb-lg-0">
        {{ partial "image.html" (dict "Src" .image "Alt" "image" "Class" "img-fluid" ) }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}