{{ $whatsappLink := .Site.Params.whatsappLink }}
{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.psychologists.enable }}
{{ with $data.homepage.psychologists }}
<section class="feature-list section" id="psychologists">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading">
          <h2>{{ .title | markdownify }}</h2>
        </div>
      </div>
    </div>

    <div class="row slider-wrapper">
      <div class="psychologist-slider col-md-12">
        {{ range .items }}
        <div class="block flex col-md align-content-center">
          <div class="psychologist-card flex flex-column flex-md-row row">
            <!-- Icon & Category -->
            <div class="icon-category flex flex-column col-md-4">
              <div class="mb-40 text-md-left text-center align-items-center">
                <img src="{{ .icon }}" alt="icon" class="mb-3 icon-img" style="max-width: 40px;">
                <h4 class="font-weight-bold mb-2 category-text">{{ .category | markdownify }}</h4>
              </div>
            </div>

            <!-- Image -->
            <div class="image flex flex-column col-md-4 order-2 order-md-2">
              {{ partial "image.html" (dict "Src" .image "Alt" "psychologist" "Class" "img-fluid rounded" ) }}
            </div>

            <!-- Specialization -->
            <div class="specializations flex flex-column col-md-4 order-6 order-md-3">
              <h4 class="font-weight-bold text-center">Specialization Scope</h4>
              {{ range $index, $elem := .specializations }}
              <div class="text-center text-border" style="margin-top: 10px">{{ $elem | markdownify }}</div>
              {{ end }}
            </div>

            <!-- Experience -->
            <div class="experience flex flex-column col-md-4 text-center justify-content-center align-items-center order-4 order-md-4">
              <h4>Practice Experience : <span class="font-weight-bold">{{ .experience }}</span></h4>
            </div>

            <!-- Name & Title -->
            <div class="name-title flex flex-column col-md-4 text-center justify-content-center align-items-center order-3 order-md-5">
              <h2 class="font-weight-bold col-gold">{{ .name | markdownify }}</h2>
              <h3 class="font-weight-bold col-gold">{{ .title | markdownify }}</h3>
            </div>

            <!-- SIPP -->
            <div class="sipp flex flex-column col-md-4 text-center justify-content-center align-items-center order-5 order-md-6">
              <h4>No. SIPP : <span class="font-weight-bold">{{ .sipp | markdownify }}</span></h4>
            </div>

            <!-- Button -->
            <div class="button flex flex-column col-md-12 text-center order-7 order-md-7" style="margin-top: 20px;">
              <a href="{{ $whatsappLink }}" class="btn btn-main btn-black-text">
                Counsel with {{ .nickname }}
              </a>
            </div>
          </div>

        </div>
        {{ end }}
      </div>
    </div>

  </div>
</section>
{{ end }}
{{ end }}
