{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.testimonial.enable }}
<section class="testimonials section" id="testimonial">
  <div class="container">
    {{ with $data.homepage.testimonial }}
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="heading">
          <h2>{{ .title | markdownify }}</h2>
        </div>
      </div>
      {{ range .testimonial_item }}
      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0 text-justify">
        <div class="testimonial-block align-items-center d-flex flex-column h-100">
          <img src="{{ .image }}" alt="icon" class="mb-3" style="max-width: 40px;">
          <p>{{ .content | markdownify }}</p>
          <div class="author-details mt-auto">
            <h7 class="font-weight-bold">{{ .name }}</h7>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
    {{ end }}
  </div>
</section>
{{ end }}
